################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Scrap.UI/obj/Debug
/packages
/.vs/Scrapping.UI
